@page "/manage-genres"
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient HttpClient
@inject IAlertService AlertService
@inject IStringLocalizer<Resources.ManageGenres.ManageGenres> Localizer

<MudContainer Class="d-flex justify-center">
    <MudStack>
        <MudText Align="Align.Center" Typo="Typo.h4">@Localizer["Manage Genres"]</MudText>
        @if (_genres == null)
        {
            <div class="d-flex justify-center">
                <MudProgressCircular Indeterminate="true" />
            </div>
        }
        else if (_genres.Count() == 0)
        {
            <div class="d-flex justify-center">
                <MudAlert Elevation="20" Severity="Severity.Info">@Localizer["No genres"]</MudAlert>
            </div>
        }
        else
        {
        <MudTable @ref="@_table" Items="@_genres" RowsPerPage="4" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
            <HeaderContent>
                <MudTh>@Localizer["Name"]</MudTh>
                <MudTh>@Localizer["Actions"]</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@Localizer["Name"]">@(CultureInfo.CurrentCulture.Name == "en-US" ? context.EnglishName : context.PolishName)</MudTd>
                <MudTd DataLabel="@Localizer["Actions"]">
                    <MudButton Style="background-color: #2196F3; color: white;" @onclick="@(() => OpenUpdateGenreDialog(context.IdGenre))">@Localizer["Update"]</MudButton>
                    <MudButton Style="background-color: red; color: white;" @onclick=@(() => DeleteGenreAsync(context.IdGenre))>@Localizer["Delete"]</MudButton>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudPagination SelectedChanged="PageChanged" Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)" Class="pa-4" />
            </PagerContent>
        </MudTable>
        }
        <MudButton Style="background-color: #2196F3; color: white;" @onclick="OpenAddGenreDialog">@Localizer["Add genre"]</MudButton>
    </MudStack>
</MudContainer>

<MudDialog @bind-IsVisible="_isUpdateGenreDialogVisible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> @Localizer["Update genre"]
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField Label="@Localizer["Name of genre EN"]" @bind-Value="@_currentGenre.EnglishName" For="@(() => _currentGenre.EnglishName)" />
        <MudTextField Label="@Localizer["Name of genre PL"]" @bind-Value="@_currentGenre.PolishName" For="@(() => _currentGenre.PolishName)" />
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateGenreAsync" Class="px-10">@Localizer["Save"]</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="_isAddGenreDialogVisible" Options="_dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> @Localizer["Add genre"]
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTextField Label="@Localizer["Name of genre EN"]" @bind-Value="@_currentGenre.EnglishName" For="@(() => _currentGenre.EnglishName)" />
        <MudTextField Label="@Localizer["Name of genre PL"]" @bind-Value="@_currentGenre.PolishName" For="@(() => _currentGenre.PolishName)" />
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddGenreAsync" Class="px-10">@Localizer["Save"]</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private bool _isUpdateGenreDialogVisible = false;
    private bool _isAddGenreDialogVisible = false;
    private DialogOptions _dialogOptions = new() { FullWidth = true };
    private MudTable<GenreDTO> _table;
    private IEnumerable<GenreDTO>? _genres;
    private GenreDTO? _currentGenre = new GenreDTO();

    private async Task UpdateGenreAsync()
    {
        var responseHTTP = await HttpClient.PutAsJsonAsync($"/api/genres", _currentGenre);
        if(responseHTTP.IsSuccessStatusCode)
        {
            _isUpdateGenreDialogVisible = false;
            await GetGenresAsync();
        }
        else if(responseHTTP.StatusCode == System.Net.HttpStatusCode.Conflict)
        {
            AlertService.DisplayAlert(Localizer["ConflictErrorMessage"], Severity.Error);
        }
        else
        {
            AlertService.DisplayAlert(Localizer["UpdateErrorMessage"], Severity.Error);
        }
    }
    private async Task AddGenreAsync()
    {
        var responseHTTP = await HttpClient.PostAsJsonAsync($"/api/genres", _currentGenre);
        if (responseHTTP.IsSuccessStatusCode)
        {
            _isAddGenreDialogVisible = false;
            await GetGenresAsync();
        }
        else if (responseHTTP.StatusCode == System.Net.HttpStatusCode.Conflict)
        {
            AlertService.DisplayAlert(Localizer["ConflictErrorMessage"], Severity.Error);
        }
        else
        {
            AlertService.DisplayAlert(Localizer["AddErrorMessage"], Severity.Error);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetGenresAsync();
    }
    private async Task GetGenresAsync()     
    {
        _genres = await HttpClient.GetFromJsonAsync<List<GenreDTO>>("api/genres");
    }
    private void PageChanged(int i)
    {
        _table.NavigateTo(i - 1);
    }

    private async Task DeleteGenreAsync(int id)
    {
        var responseHTTP = await HttpClient.DeleteAsync($"/api/genres/{id}");
        if (responseHTTP.IsSuccessStatusCode)
        {
            await GetGenresAsync();
        }
        else
        {
            AlertService.DisplayAlert(Localizer["DeleteErrorMessage"], Severity.Error);
        }
    }
    private void OpenUpdateGenreDialog(int id)
    {
        var genre = _genres.FirstOrDefault(x => x.IdGenre == id);
        _currentGenre = new GenreDTO { IdGenre = genre.IdGenre, EnglishName = genre.EnglishName, PolishName = genre.PolishName };
        _isUpdateGenreDialogVisible = true;
    }
    private void OpenAddGenreDialog()
    {
        _currentGenre = new GenreDTO();
        _isAddGenreDialogVisible = true;
    }
}
